body{
	 width: 500px;
	 margin:auto;
	 text-align:justify;
	 background-color: grey;
	
	
}
input{
	float: right;
	margin-left: 1em;
}
.dropdown{
	display: inline;
}
.input-group{
	margin-top: 10px;
}
.text{
	width: 500px;
}
.btn{
	margin-top: 10px;
}

.text{
	margin: auto;
}
img{
	margin: auto;
}
input.ng-invalid {
    background-color: lightblue;
}